<div class="manager-product">
	<h3>Admin Dashboard</h3>
	<div class="row">
		<div class="col-md-12">
			<div class="content-box-header">
				<div class="panel-title">Thống kê</div>
			</div>
			<div class="content-box-large box-with-header">

				<div class="panel-body">
					<table class="table dashboard-info">
						<tbody>
							<tr>
								<th>Tổng số sản phẩm</th>
								<td>{{nProducts}}</td>
							</tr>
							<tr>
								<th>Tổng số thương hiệu</th>
								<td>{{nBrands}}</td>
							</tr>
							<tr>
								<th>Tổng số loại sản phẩm</th>
								<td>{{nTypes}}</td>
							</tr>
							<tr>
								<th>Tổng số thành viên</th>
								<td>{{nUsers}}</td>
							</tr>
							<tr>
								<th>Tổng số đơn hàng</th>
								<td>{{nOrders}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>