<div class="manager-product">
    <h3>Quản lý thông tin sản phẩm</h3>
    <button onclick="location.href='/admin/quanlysanpham/add';" type="button" class="btn btn-success">+ Thêm sản phẩm mới</button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Mã sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Thương hiệu</th>
                <th>Đơn giá</th>
                <th>Điều chỉnh</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td>{{idsanpham}}</td>
                <td>{{tensanpham}}</td>
                <td>{{nhasanxuat}}</td>
                <td>{{gia}}</td>
                <td>
                    <a href="/admin/quanlysanpham/edit/{{idsanpham}}" class="btn btn-info">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <form class="delete-product" style="display:inline-block">
                        <button class="btn btn-danger">
                            <input type="hidden" name="productId" value="{{idsanpham}}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Thông báo</h4>
            </div>
            <div class="modal-body">
                {{!-- Message Here --}}
            </div>
            <div class="modal-footer">
                <button id="close" type="button" class="btn btn-default" data-dismiss="modal">Đóng lại</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('form.delete-product').submit(function (event) {
        event.preventDefault();
        var productId = $(this).find('input[name="productId"]').val();
        $.post('/admin/quanlysanpham/edit-remove', {
            id: productId
        }, function (data, status) {
            $('#myModal .modal-body').text(data);
            $('#myModal').modal('show');
        });
    });
    $('button#close').click(function () {
        location.reload();
    });
</script>