<div class="edit-product">
    <h3>Cập nhật thông tin sản phẩm</h3>
    <form id="data" method="POST">
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>ID sản phẩm:</label>
                    <input id="id" type="text" class="form-control" disabled value="{{product.idsanpham}}">
                    <input name="id" type="hidden" class="form-control" value="{{product.idsanpham}}">
                </div>
            </div>
            <div class="col-md-9">
                <div class="form-group">
                    <label>Tên sản phẩm:</label>
                    <input id="name" type="text" class="form-control" name="name" value="{{product.tensanpham}}" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Giá (VND):</label>
                    <input id="price" type="text" class="form-control" name="price" pattern="^(0|[1-9][0-9]*)$" value="{{product.gia}}" required>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Loại:</label>
                    <select id="type" class="form-control" name="type">
                        {{#each types}}
                        <option value="{{loai}}">{{tenloai}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Nhà sản xuất:</label>
                    <select id="brand" class="form-control" name="brand">
                        {{#each brands}}
                        <option value="{{nhasanxuat}}">{{nhasanxuat}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>Xuất xứ:</label>
                    <input id="origin" name="origin" type="text" class="form-control" value="{{product.xuatxu}}" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Mô tả:</label>
                    <textarea id="detail" type="textarea" class="form-control" name="detail">{{product.mota}}</textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Số lượng:</label>
                    <input id="number" type="number" class="form-control" name="number" min="0" max="100" value="{{product.soluong}}">
                </div>
            </div>
        </div>
        <div class="row" style="margin: 20px auto">
            <div class="col-md-6">
                <label>Ảnh sản phẩm:</label>
                <img src="/product_img/{{product.img}}" style="width: 40%; display: block">
            </div>
            <div class="col-md-6">
                <label>Chọn hình ảnh mới:</label>
                <input type="file" name="image" accept="image/*">
                <button id="submitbtn" type="submit" class="btn btn-primary" style="margin-top: 30px; width: 100%; height: 80px; font-size: 2em">Cập nhật</button>
            </div>
        </div>

    </form>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Thông báo</h4>
            </div>
            <div class="modal-body">
                {{!-- Message Here --}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng lại</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('form select[name="type"]').val('{{product.loai}}');
    $('form select[name="brand"]').val('{{product.nhasanxuat}}');

    $("form#data").submit(function (e) {
        e.preventDefault();
        var formData = new FormData(this);
        $.ajax({
            url: '/admin/quanlysanpham/edit-update',
            type: 'POST',
            data: formData,
            success: function (data) {
                $('#myModal .modal-body').text(data);
                $('#myModal').modal('show');
            },
            cache: false,
            contentType: false,
            processData: false
        });
    });

</script>